# ğŸ”¹ ë°ì´í„° ë¶„ì„ê³¼ íŒë‹¤ìŠ¤: Seriesì˜ ì´í•´

- **íŒë‹¤ìŠ¤(Pandas)**ëŠ” íŒŒì´ì¬ì—ì„œ ë°ì´í„°ë¥¼ ë‹¤ë£¨ëŠ” ëŒ€í‘œì ì¸ ë¼ì´ë¸ŒëŸ¬ë¦¬  
- í•µì‹¬ ìë£Œ êµ¬ì¡°: **Series**ì™€ **DataFrame**  
- **Series**: 1ì°¨ì› ë°ì´í„°(ë¦¬ìŠ¤íŠ¸ì™€ ë¹„ìŠ·)  
- **DataFrame**: 2ì°¨ì› ë°ì´í„°(ì—‘ì…€ í‘œì™€ ë¹„ìŠ·)

In [ ]:
import pandas as pd

# ì§ì ‘ ë¦¬ìŠ¤íŠ¸ ì…ë ¥ â†’ Series ìƒì„±
age = pd.Series([25, 34, 19, 45, 60])

# ageì˜ ë‚´ìš© ì¶œë ¥
print(age)

# ageì˜ ë°ì´í„°í˜• í™•ì¸
print(type(age))

0    25
1    34
2    19
3    45
4    60
dtype: int64
<class 'pandas.core.series.Series'>

# ğŸ”¹ Series ìƒì„± ë°©ë²•

- **ë¦¬ìŠ¤íŠ¸(list)ë¥¼ ì§ì ‘ ì…ë ¥**í•´ì„œ ë§Œë“¤ ìˆ˜ ìˆìŒ  
- ì¶œë ¥ ê²°ê³¼ì—ì„œ **ì™¼ìª½ ìˆ«ì(0,1,2,...)ëŠ” ì¸ë±ìŠ¤(index)**  
- ì˜¤ë¥¸ìª½ ê°’ì€ ì‹¤ì œ ë°ì´í„°(value)  

ğŸ‘‰ SeriesëŠ” ë¦¬ìŠ¤íŠ¸ì™€ ë‹¬ë¦¬ **ì¸ë±ìŠ¤ì™€ ê°’**ì´ í•œ ìŒìœ¼ë¡œ ì¶œë ¥ë¨

In [ ]:
# ì´ë¯¸ ë§Œë“¤ì–´ì§„ ë¦¬ìŠ¤íŠ¸ë¥¼ Seriesë¡œ ë³€í™˜
data = ['spring', 'summer', 'fall', 'winter']
season = pd.Series(data)

print(season)

0    spring
1    summer
2      fall
3    winter
dtype: object

# ğŸ”¹ ì¸ë±ìŠ¤(index)ë¡œ ê°’ ì ‘ê·¼í•˜ê¸°

- `season.iloc[ë²ˆí˜¸]` â†’ ë²ˆí˜¸(index)ì— í•´ë‹¹í•˜ëŠ” ê°’ ê°€ì ¸ì˜¤ê¸°  
- ì¸ë±ìŠ¤ëŠ” 0ë¶€í„° ì‹œì‘í•¨ (ë¦¬ìŠ¤íŠ¸ì™€ ë™ì¼)  
- ì˜ˆ: `season.iloc[2]` â†’ ì„¸ ë²ˆì§¸ ê°’ = "fall"

In [ ]:
# ì¸ë±ìŠ¤ 2ì˜ ê°’ ê°€ì ¸ì˜¤ê¸°
print(season.iloc[2])

fall

# ğŸ”¹ ìƒê°í•´ ë³´ê¸°

1. `season.iloc[2]` ëŒ€ì‹  `season.iloc[0]`ì„ ì‹¤í–‰í•˜ë©´ ì–´ë–¤ ê°’ì´ ë‚˜ì˜¬ê¹Œ?  
2. `age = pd.Series([25, 34, 19, 45, 60])`ì—ì„œ ê°’ì„ ë°”ê¿”  
   `[10, 20, 30, 40, 50]`ìœ¼ë¡œ ë§Œë“¤ë©´ ì¶œë ¥ ê²°ê³¼ê°€ ì–´ë–»ê²Œ ë‹¬ë¼ì§ˆê¹Œ?  
3. `type(age)` ëŒ€ì‹  `age.mean()`ì„ ì‹¤í–‰í•˜ë©´ ì–´ë–¤ ê²°ê³¼ê°€ ë‚˜ì˜¬ê¹Œ?

In [ ]:
print(season.iloc[0])

spring

In [ ]:
age = pd.Series([10, 20, 30, 40, 50])
print(age)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
print(age.mean())

30.0

# ğŸ”¹ DataFrameì˜ ì´í•´

- **DataFrame**ì€ íŒë‹¤ìŠ¤ì˜ 2ì°¨ì› ìë£Œêµ¬ì¡°  
- í–‰(row) Ã— ì—´(column) êµ¬ì¡° â†’ ì—‘ì…€, CSV, SQL í…Œì´ë¸”ê³¼ ìœ ì‚¬  
- `pd.DataFrame(ë¦¬ìŠ¤íŠ¸)`ë¡œ ìƒì„± ê°€ëŠ¥  
- `Series` ì—¬ëŸ¬ ê°œê°€ í•©ì³ì§„ í˜•íƒœë¼ê³  ë³¼ ìˆ˜ë„ ìˆìŒ

In [ ]:
import pandas as pd

# 2ì°¨ì› ë¦¬ìŠ¤íŠ¸ë¡œë¶€í„° ë°ì´í„°í”„ë ˆì„ ìƒì„±
score = pd.DataFrame([[85, 96, 40, 95],
                      [73, 69, 45, 80],
                      [78, 50, 60, 90]])

# ë‚´ìš© ì¶œë ¥
print(score)

# ìë£Œí˜• í™•ì¸
print(type(score))

    0   1   2   3
0  85  96  40  95
1  73  69  45  80
2  78  50  60  90
<class 'pandas.core.frame.DataFrame'>

# ğŸ”¹ DataFrameì˜ ê¸°ë³¸ ì†ì„±

- `.index` â†’ í–‰(row) ì¸ë±ìŠ¤ (ê¸°ë³¸ê°’: 0, 1, 2, ...)  
- `.columns` â†’ ì—´(column) ì¸ë±ìŠ¤ (ê¸°ë³¸ê°’: 0, 1, 2, ...)  

ğŸ‘‰ ì¸ë±ìŠ¤ëŠ” ë°ì´í„° íƒìƒ‰ê³¼ ì„ íƒì—ì„œ ë§¤ìš° ì¤‘ìš”í•œ ì—­í• ì„ í•¨

In [ ]:
# í–‰ ì¸ë±ìŠ¤
print(score.index)

# ì—´ ì¸ë±ìŠ¤
print(score.columns)

RangeIndex(start=0, stop=3, step=1)
RangeIndex(start=0, stop=4, step=1)

# ğŸ”¹ íŠ¹ì • ì›ì†Œ ì ‘ê·¼í•˜ê¸°

- `iloc[í–‰ë²ˆí˜¸, ì—´ë²ˆí˜¸]` í˜•ì‹ìœ¼ë¡œ ì›í•˜ëŠ” ì›ì†Œë¥¼ ì„ íƒ  
- ì˜ˆ: `iloc[1, 2]` â†’ 1í–‰ 2ì—´ì˜ ê°’ (0ë¶€í„° ì‹œì‘)  
- ì¦‰, ë‘ ë²ˆì§¸ í–‰ & ì„¸ ë²ˆì§¸ ì—´ì˜ ê°’ì„ ê°€ì ¸ì˜´

In [ ]:
# 1í–‰ 2ì—´ ê°’ ê°€ì ¸ì˜¤ê¸°
print(score.iloc[1, 2])

45

# ğŸ”¹ ìƒê°í•´ ë³´ê¸°

1. `score.iloc[1, 2]` ëŒ€ì‹  `score.iloc[0, 0]`ì„ ì‹¤í–‰í•˜ë©´ ì–´ë–¤ ê°’ì´ ë‚˜ì˜¬ê¹Œ?  
2. `score.index`ì™€ `score.columns` ê²°ê³¼ë¥¼ í™•ì¸í–ˆì„ ë•Œ,  
   ì¸ë±ìŠ¤ë¥¼ ì›í•˜ëŠ” ìˆ«ìë‚˜ ë¬¸ìë¡œ ë°”ê¾¸ë ¤ë©´ ì–´ë–¤ ë°©ë²•ì´ ìˆì„ê¹Œ?  
3. `score.iloc[2]`ë§Œ ì‹¤í–‰í•˜ë©´ ì–´ë–¤ ê²°ê³¼ê°€ ë‚˜ì˜¬ê¹Œ?

In [ ]:
# 1í–‰ 2ì—´ ê°’ ê°€ì ¸ì˜¤ê¸°
print(score.iloc[0, 0])

85

In [ ]:
score.index = ["Korea", "Japan", "China"]
print(score)

        0   1   2   3
Korea  85  96  40  95
Japan  73  69  45  80
China  78  50  60  90

In [ ]:
score.iloc[2]

0    78
1    50
2    60
3    90
Name: China, dtype: int64

# ğŸ”¹ Seriesì— ë ˆì´ë¸” ë¶€ì—¬í•˜ê¸°

- ê¸°ë³¸ì ìœ¼ë¡œ SeriesëŠ” 0, 1, 2... ìˆœì„œì˜ ìˆ«ì ì¸ë±ìŠ¤ë¥¼ ê°€ì§  
- í•˜ì§€ë§Œ ì›í•˜ëŠ” ì´ë¦„(ë ˆì´ë¸”)ì„ ì§€ì •í•  ìˆ˜ ìˆìŒ  
- `Series.index = [...]` ë¡œ í–‰ ì´ë¦„ì„ ì§€ì •  

ğŸ‘‰ ì´ë ‡ê²Œ í•˜ë©´ ë‹¨ìˆœí•œ ìˆ«ì ëŒ€ì‹  **ì‚¬ëŒ ì´ë¦„, ë‚ ì§œ ë“± ì˜ë¯¸ ìˆëŠ” ì¸ë±ìŠ¤**ë¥¼ ì‚¬ìš©í•  ìˆ˜ ìˆìŒ

In [ ]:
import pandas as pd

# ê¸°ë³¸ ì¸ë±ìŠ¤ (0,1,2,3)
age = pd.Series([25, 34, 19, 45])
print("ë ˆì´ë¸” ë¶€ì—¬ ì „:")
print(age)

# ì‚¬ìš©ì ì •ì˜ ì¸ë±ìŠ¤ ë¶€ì—¬
age.index = ['John', 'Jane', 'Tom', 'Luka']
print("\në ˆì´ë¸” ë¶€ì—¬ í›„:")
print(age)

ë ˆì´ë¸” ë¶€ì—¬ ì „:
0    25
1    34
2    19
3    45
dtype: int64

ë ˆì´ë¸” ë¶€ì—¬ í›„:
John    25
Jane    34
Tom     19
Luka    45
dtype: int64

# ğŸ”¹ iloc vs loc (Series)

- `iloc[ë²ˆí˜¸]` â†’ **ì ˆëŒ€ ìœ„ì¹˜ ê¸°ë°˜** ì¸ë±ì‹±  
- `loc['ë ˆì´ë¸”']` â†’ **ì´ë¦„(ë ˆì´ë¸”) ê¸°ë°˜** ì¸ë±ì‹±  

ì˜ˆì‹œ:  
- `age.iloc[2]` â†’ ì„¸ ë²ˆì§¸ ê°’ (Tomì˜ ê°’)  
- `age.loc['Tom']` â†’ 'Tom'ì´ë¼ëŠ” ì´ë¦„ì„ ê°€ì§„ ê°’

In [ ]:
print(age.iloc[2])       # ì ˆëŒ€ ìœ„ì¹˜
print(age.loc['Tom'])    # ë ˆì´ë¸” ê¸°ë°˜

19
19

# ğŸ”¹ DataFrameì— ë ˆì´ë¸” ë¶€ì—¬í•˜ê¸°

- `DataFrame.index = [...]` â†’ í–‰ ì´ë¦„ ì§€ì •  
- `DataFrame.columns = [...]` â†’ ì—´ ì´ë¦„ ì§€ì •  

ğŸ‘‰ ë ˆì´ë¸”ì„ ë¶€ì—¬í•˜ë©´ ë°ì´í„° í•´ì„ì´ í›¨ì”¬ ì‰¬ì›Œì§

In [ ]:
# ë ˆì´ë¸” ë¶€ì—¬ ì „
score = pd.DataFrame([[85, 96, 40, 95],
                      [73, 69, 45, 80],
                      [78, 50, 60, 90]])
print("ë ˆì´ë¸” ë¶€ì—¬ ì „:")
print(score)

# í–‰ê³¼ ì—´ ë ˆì´ë¸” ì§€ì •
score.index = ['John', 'Jane', 'Tom']
score.columns = ['KOR', 'ENG', 'MATH', 'SCI']

print("\në ˆì´ë¸” ë¶€ì—¬ í›„:")
print(score)

ë ˆì´ë¸” ë¶€ì—¬ ì „:
    0   1   2   3
0  85  96  40  95
1  73  69  45  80
2  78  50  60  90

ë ˆì´ë¸” ë¶€ì—¬ í›„:
      KOR  ENG  MATH  SCI
John   85   96    40   95
Jane   73   69    45   80
Tom    78   50    60   90

# ğŸ”¹ iloc vs loc (DataFrame)

- `iloc[í–‰ë²ˆí˜¸, ì—´ë²ˆí˜¸]` â†’ ì ˆëŒ€ ìœ„ì¹˜ ê¸°ë°˜ ì ‘ê·¼  
- `loc['í–‰ë ˆì´ë¸”', 'ì—´ë ˆì´ë¸”']` â†’ ë ˆì´ë¸” ê¸°ë°˜ ì ‘ê·¼  

ì˜ˆì‹œ:  
- `score.iloc[2, 1]` â†’ 2í–‰ 1ì—´ ê°’ (Tomì˜ ENG ì ìˆ˜)  
- `score.loc['Tom', 'ENG']` â†’ Tom í•™ìƒì˜ ENG ì ìˆ˜

In [ ]:
print(score.iloc[2, 1])           # ì ˆëŒ€ ìœ„ì¹˜ ì ‘ê·¼
print(score.loc['Tom', 'ENG'])    # ë ˆì´ë¸” ê¸°ë°˜ ì ‘ê·¼

50
50

# ğŸ”¹ ìƒê°í•´ ë³´ê¸°

1. `age.loc['Luka']`ë¥¼ ì‹¤í–‰í•˜ë©´ ì–´ë–¤ ê°’ì´ ë‚˜ì˜¬ê¹Œ?  
2. `score.loc['Jane', 'MATH']`ì„ ì‹¤í–‰í•˜ë©´ ì–´ë–¤ ê°’ì´ ì¶œë ¥ë ê¹Œ?  
3. `score.iloc[0]`ë§Œ ì‹¤í–‰í•˜ë©´ ì–´ë–¤ ê²°ê³¼ê°€ ë‚˜ì˜¬ê¹Œ?

In [ ]:
print(age.loc['Luka'])

45

In [ ]:
print(score.loc['Jane', 'MATH'])

45

In [ ]:
score.iloc[0]

KOR     85
ENG     96
MATH    40
SCI     95
Name: John, dtype: int64

# ğŸ”¹ ì¤‘ë³µ ë ˆì´ë¸”ì´ ìˆëŠ” Series

- Seriesì˜ ì¸ë±ìŠ¤ëŠ” ê¼­ ê³ ìœ (unique)í•  í•„ìš”ëŠ” ì—†ìŒ  
- ë™ì¼í•œ ì´ë¦„(ë ˆì´ë¸”)ì´ ì—¬ëŸ¬ ë²ˆ ë“±ì¥í•  ìˆ˜ë„ ìˆìŒ  
- ì´ ê²½ìš° `iloc`ê³¼ `loc`ì˜ ë™ì‘ì´ ë‹¬ë¼ì§

ğŸ‘‰ ì£¼ì˜!  
- **iloc** â†’ ìœ„ì¹˜ ê¸°ë°˜ â†’ í•˜ë‚˜ì˜ ê°’ ë°˜í™˜  
- **loc** â†’ ì´ë¦„ ê¸°ë°˜ â†’ ê°™ì€ ì´ë¦„ì´ ì—¬ëŸ¬ ê°œë©´ **ì—¬ëŸ¬ ê°’ ë°˜í™˜**

In [ ]:
import pandas as pd

age = pd.Series([25, 34, 19, 45, 60])
age.index = ['John', 'Jane', 'Tom', 'Micle', 'Tom']

print("Series ë‚´ìš©:")
print(age)

# ìœ„ì¹˜ ê¸°ë°˜ (iloc)
print("\nage.iloc[3] â†’")
print(age.iloc[3])

# ë ˆì´ë¸” ê¸°ë°˜ (loc)
print("\nage.loc['Tom'] â†’")
print(age.loc['Tom'])

Series ë‚´ìš©:
John     25
Jane     34
Tom      19
Micle    45
Tom      60
dtype: int64

age.iloc[3] â†’
45

age.loc['Tom'] â†’
Tom    19
Tom    60
dtype: int64

# ğŸ”¹ ê²°ê³¼ í•´ì„

- `age.iloc[3]` â†’ ì¸ë±ìŠ¤ ë²ˆí˜¸ 3ì˜ ê°’ â†’ "Micle"ì˜ 45 ë°˜í™˜  
- `age.loc['Tom']` â†’ 'Tom'ì´ë¼ëŠ” ì´ë¦„ì´ 2ë²ˆ ë“±ì¥ â†’ **ë‘ ê°œì˜ ê°’(19, 60)ì„ ëª¨ë‘ ë°˜í™˜**  

ğŸ‘‰ ë”°ë¼ì„œ ë ˆì´ë¸”ì„ ì¤‘ë³µìœ¼ë¡œ ì‚¬ìš©í•˜ë©´ locì—ì„œëŠ” ì—¬ëŸ¬ í–‰ì´ ì„ íƒë  ìˆ˜ ìˆìŒ

# ğŸ”¹ ìƒê°í•´ ë³´ê¸°

1. `age.loc['John']`ì„ ì‹¤í–‰í•˜ë©´ ì–´ë–¤ ê°’ì´ ë‚˜ì˜¬ê¹Œ?  
2. `age.loc['Tom'].iloc[0]`ì„ ì‹¤í–‰í•˜ë©´ ì–´ë–¤ ê²°ê³¼ê°€ ë‚˜ì˜¬ê¹Œ?  
3. ë§Œì•½ ëª¨ë“  ì¸ë±ìŠ¤ë¥¼ ê³ ìœ í•˜ê²Œ(unique) ë§Œë“¤ê³  ì‹¶ë‹¤ë©´ ì–´ë–¤ ë°©ë²•ì´ ìˆì„ê¹Œ?  
   (íŒíŠ¸: `reset_index()`, `drop_duplicates()` ë“± í™œìš©)

In [ ]:
print(age.loc['John'])

25

In [ ]:
print(age.loc['Tom'].iloc[0])

19

In [ ]:
age_unique = age.reset_index(drop=True)
print(age_unique)

0    25
1    34
2    19
3    45
4    60
dtype: int64

# ğŸ”¹ ìˆ«ì ë ˆì´ë¸” ì§€ì •í•˜ê¸°

- Seriesì˜ ì¸ë±ìŠ¤ëŠ” ê¼­ ë¬¸ìì—´ì´ ì•„ë‹ˆë¼ **ìˆ«ì**ë¡œë„ ì§€ì •í•  ìˆ˜ ìˆìŒ  
- í•˜ì§€ë§Œ ì£¼ì˜í•  ì :  
  - `iloc[ìˆ«ì]` â†’ **ìœ„ì¹˜ ê¸°ë°˜** (0ë¶€í„° ì‹œì‘í•˜ëŠ” ìˆœì„œ)  
  - `loc[ìˆ«ì]` â†’ **ë ˆì´ë¸” ê¸°ë°˜** (ì§ì ‘ ì§€ì •í•œ ì¸ë±ìŠ¤ ê°’)

ğŸ‘‰ ë”°ë¼ì„œ ìˆ«ì ë ˆì´ë¸”ì„ ì“°ë©´ í—·ê°ˆë¦´ ìˆ˜ ìˆìŒ

In [ ]:
import pandas as pd

population = pd.Series([523, 675, 690, 720, 800])
population.index = [10, 20, 30, 40, 50]  # ìˆ«ì ë ˆì´ë¸” ì§€ì •

print("Series ë‚´ìš©:")
print(population)

# ìœ„ì¹˜ ê¸°ë°˜ (iloc)
print("\npopulation.iloc[1] â†’")
print(population.iloc[1])

# ì˜ëª»ëœ ì ‘ê·¼ (iloc[20] â†’ IndexError)
# print(population.iloc[20])  # ì‹¤í–‰ ì‹œ ì—ëŸ¬ ë°œìƒ

# ë ˆì´ë¸” ê¸°ë°˜ (loc)
print("\npopulation.loc[20] â†’")
print(population.loc[20])

Series ë‚´ìš©:
10    523
20    675
30    690
40    720
50    800
dtype: int64

population.iloc[1] â†’
675

population.loc[20] â†’
675

# ğŸ”¹ ê²°ê³¼ í•´ì„

- `population.iloc[1]` â†’ ìœ„ì¹˜ 1ì˜ ê°’ â†’ **675**  
- `population.iloc[20]` â†’ ì—†ëŠ” ìœ„ì¹˜ë¼ì„œ **IndexError ë°œìƒ**  
- `population.loc[20]` â†’ ë ˆì´ë¸”ì´ 20ì¸ ê°’ â†’ **675**

ğŸ‘‰ ì¦‰, ìˆ«ìë¥¼ ë ˆì´ë¸”ë¡œ ì§€ì •í•˜ë©´  
- iloc = ë‹¨ìˆœíˆ ìˆœì„œ ë²ˆí˜¸  
- loc = ë‚´ê°€ ì§€ì •í•œ ìˆ«ì (ë ˆì´ë¸”)  
ë¡œ ì™„ì „íˆ ë‹¤ë¥´ê²Œ ë™ì‘

# ğŸ”¹ ìƒê°í•´ ë³´ê¸°

1. `population.loc[50]`ì„ ì‹¤í–‰í•˜ë©´ ì–´ë–¤ ê°’ì´ ë‚˜ì˜¬ê¹Œ?
  ë‹µë³€: ìœ„ì¹˜ 50ì˜ ê°’ì´ ì¶œë ¥ë˜ì–´ì•¼ í•˜ì§€ë§Œ ì—†ëŠ” ìœ„ì¹˜ë¼ì„œ IndexErrorì´ ë°œìƒí•  ê²ƒì´ë‹¤.
2. `population.iloc[4]`ì™€ `population.loc[50]`ì€ ê°™ì€ ê²°ê³¼ë¥¼ ì¤„ê¹Œ?
  ë‹µë³€: population.iloc[4]ëŠ” population ë ˆì´ë¸”ì˜ 4ë²ˆì¨° ìœ„ì¹˜ì˜ ê°’ì´ ë‚˜ì˜¤ê³ , population.loc[50]ì€ ìœ„ì¹˜ 50ì´ ì—†ëŠ” ìœ„ì¹˜ì´ê¸° ë•Œë¬¸ì— IndexErrorì´ ë°œìƒí•´ ë‹¤ë¥¸ ê²°ê³¼ê°€ ë‚˜íƒ€ë‚œë‹¤.
3. ì¸ë±ìŠ¤ê°€ ìˆ«ìë¼ í—·ê°ˆë¦´ ìˆ˜ ìˆëŠ”ë°, ë§Œì•½ 'A', 'B', 'C', ...ì™€ ê°™ì€ ë¬¸ì ë ˆì´ë¸”ë¡œ ë°”ê¾¼ë‹¤ë©´ ì ‘ê·¼ì€ ì–´ë–»ê²Œ ë‹¬ë¼ì§ˆê¹Œ?
  ë‹µë³€: ì¸ë±ìŠ¤ë¥¼ ë¬¸ìë¡œ ë°”ê¾¸ë©´ ilocëŠ” ì—¬ì „íˆ ì •ìˆ˜ ìœ„ì¹˜ë¥¼ ì‚¬ìš©í•˜ê³ , locëŠ” ë°”ë€ ë¬¸ì ë ˆì´ë¸”ë§Œ ì‚¬ìš©í•˜ì—¬ ë°ì´í„°ì— ì ‘ê·¼í•  ê²ƒì´ë‹¤.

In [ ]:
population.index = ["A", "B", "C", "D", "E"]  # ìˆ«ì ë ˆì´ë¸” ì§€ì •
print(population)

A    523
B    675
C    690
D    720
E    800
dtype: int64